<div id="show">
  <h1>Search Results</h1>
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
  <%= @jobs.inspect %>
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
</div>
