/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#blasts-new {
    width: 50%;
}

#extra-options {
    margin: 5px 5px 5px 10px;
}

#blasts-show {
    width: 70%;
}

/*** Table Styles ***/
table {
  margin: 0;
  border: 0;
  width: 100%;
  border-collapse: collapse;
}

table#blast_report_details {
  margin: 0;
  border: 0;
  width: 50%;
  border-collapse: collapse;
}

th {
  white-space: normal;
}

th, td {
  padding: 3px;
  text-align: left;
  font-size: 12px;
}

th a, a:hover {
  text-decoration: underline;
  border: none;
}

td {
  white-space: normal;
}

tr.odd {
  background-color: #ffffff;
}

tr.even {
  background-color: #dcdcdc;
}

/*** End ***/


